/* common styles */
body {
  background-color: rgba(220, 226, 235, 0.616);
  margin: 0;
  padding: 0;
}

/* end of common styles */
/* main page */
.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
}

/* left */
.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  align-items: center;
}

.left-content div {
  display: flex;
  align-items: center;
  margin: 4rem;
}

.left-content-heading {
  font-size: 2rem;
}

.left-content-heading {
  font-family: Arial, Helvetica, sans-serif;
}

.left-content h1 {
  color: royalblue;
  font-size: 50px;
  display: grid;
}

.left-content h3 {
  font-size: 30px;
}
/*end of left */
/* right */
.right {
  display: grid;
  justify-content: left;
  align-items: center;
}

.right-content-form {
}
/* end of right */
/* footer */
.main-page-footer {
  grid-column: 1 / 1;
  grid-row: 2 / -1;
  background-color: #f5f4f4;
  padding: 0.5rem;
  border-top: 0.1rem solid #ddd;
}

.main-page-footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-page-footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  color: #444;
  font-weight: 200;
}
/* end of footer */
/* button */
.btn-login {
  cursor: pointer;
}

.btn-create {
  cursor: pointer;
}
/* end of button */
/* end of main page */
/* login */
.login-page {
  display: none;
  justify-content: center;
  align-items: center;
}
/* end of login */
/* login modal */
.login-modal {
  position: fixed;
  top: 11.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 30rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem 1rem 1rem 1rem;
  display: none;
}

.login-modal i {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.3rem;
  color: #000000;
  cursor: pointer;
}

.login-modal p {
  margin: 2rem 2rem 0 1rem;
  font-size: 1.6rem;
  color: #868383;
}
/* end of login modal */
